$max: 50%;
$sequence: 0, 8, 16, 24, 32, 40;

.radius-max {
  border-radius: $max;
}

@each $radius in $sequence {
  .radius-#{$radius} {
    border-radius: #{$radius}px;
  }

  .radius-tl-#{$radius} {
    border-top-left-radius: #{$radius}px;
  }

  .radius-tr-#{$radius} {
    border-top-right-radius: #{$radius}px;
  }

  .radius-bl-#{$radius} {
    border-bottom-left-radius: #{$radius}px;
  }

  .radius-br-#{$radius} {
    border-bottom-right-radius: #{$radius}px;
  }

  .radius-t-#{$radius} {
    border-top-left-radius: #{$radius}px;
    border-top-right-radius: #{$radius}px;
  }

  .radius-r-#{$radius} {
    border-top-right-radius: #{$radius}px;
    border-bottom-right-radius: #{$radius}px;
  }

  .radius-b-#{$radius} {
    border-bottom-left-radius: #{$radius}px;
    border-bottom-right-radius: #{$radius}px;
  }

  .radius-l-#{$radius} {
    border-top-left-radius: #{$radius}px;
    border-bottom-left-radius: #{$radius}px;
  }
}
