$max: 50%;
$sequence: 0, 2, 4, 8, 16, 24, 32, 40;

.radius-max {
  border-radius: $max;
}

@each $seq in $sequence {
  .radius {
    &-#{$seq} {
      border-radius: #{$seq}px;
    }

    &-tl-#{$seq} {
      border-top-left-radius: #{$seq}px;
    }

    &-tr-#{$seq} {
      border-top-right-radius: #{$seq}px;
    }

    &-bl-#{$seq} {
      border-bottom-left-radius: #{$seq}px;
    }

    &-br-#{$seq} {
      border-bottom-right-radius: #{$seq}px;
    }

    &-t-#{$seq} {
      border-top-left-radius: #{$seq}px;
      border-top-right-radius: #{$seq}px;
    }

    &-r-#{$seq} {
      border-top-right-radius: #{$seq}px;
      border-bottom-right-radius: #{$seq}px;
    }

    &-b-#{$seq} {
      border-bottom-left-radius: #{$seq}px;
      border-bottom-right-radius: #{$seq}px;
    }

    &-l-#{$seq} {
      border-top-left-radius: #{$seq}px;
      border-bottom-left-radius: #{$seq}px;
    }
  }
}
