$sequence: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 100;

.filter {
  &-none {
    filter: none;
  }
}

.backdrop-none {
  backdrop-filter: none;
}

@each $seq in $sequence {
  .filter {
    &-brightness {
      &-#{$seq} {
        filter: brightness($seq * 1%);
      }
    }

    &-blur {
      &-#{$seq} {
        filter: blur(#{$seq}px);
      }
    }

    &-contrast {
      &-#{$seq} {
        filter: contrast($seq * 1%);
      }
    }

    &-grayscale {
      &-#{$seq} {
        filter: grayscale($seq * 1%);
      }
    }

    &-hue-rotate {
      &-#{$seq} {
        filter: hue-rotate($seq * 1%);
      }
    }

    &-invert {
      &-#{$seq} {
        filter: invert($seq * 1%);
      }
    }

    &-opacity {
      &-#{$seq} {
        filter: opacity($seq * 1%);
      }
    }

    &-sepia {
      &-#{$seq} {
        filter: sepia($seq * 1%);
      }
    }
  }

  .backdrop {
    &-brightness {
      &-#{$seq} {
        backdrop-filter: brightness($seq * 1%);
      }
    }

    &-blur {
      &-#{$seq} {
        backdrop-filter: blur(#{$seq}px);
      }
    }

    &-contrast {
      &-#{$seq} {
        backdrop-filter: contrast($seq * 1%);
      }
    }

    &-grayscale {
      &-#{$seq} {
        backdrop-filter: grayscale($seq * 1%);
      }
    }

    &-hue-rotate {
      &-#{$seq} {
        backdrop-filter: hue-rotate($seq * 1%);
      }
    }

    &-invert {
      &-#{$seq} {
        backdrop-filter: invert($seq * 1%);
      }
    }

    &-opacity {
      &-#{$seq} {
        backdrop-filter: opacity($seq * 1%);
      }
    }

    &-sepia {
      &-#{$seq} {
        backdrop-filter: sepia($seq * 1%);
      }
    }
  }
}
