@use "mixin";

$sequence: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

a {
  font-weight: normal;
  text-decoration: underline;
  @include mixin.fontSize(16px);
}

h1,
h2,
h3,
p,
small {
  font-weight: bold;
  margin: 0;
}

h1 {
  @include mixin.fontSize(40px);
}
h2 {
  @include mixin.fontSize(32px);
}
h3 {
  @include mixin.fontSize(24px);
}
p {
  @include mixin.fontSize(16px);
}
small {
  @include mixin.fontSize(14px);
}

.font-size {
  &-12 {
    @include mixin.fontSize(12px);
  }
  &-14 {
    @include mixin.fontSize(14px);
  }
  &-16 {
    @include mixin.fontSize(16px);
  }
  &-24 {
    @include mixin.fontSize(24px);
  }
  &-32 {
    @include mixin.fontSize(32px);
  }
  &-40 {
    @include mixin.fontSize(40px);
  }
  &-48 {
    @include mixin.fontSize(48px);
  }
}

.nodecoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.linethrough {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.lineheight {
  &-16 {
    line-height: 16px;
  }
  &-24 {
    line-height: 24px;
  }
  &-32 {
    line-height: 32px;
  }
  &-40 {
    line-height: 40px;
  }
  &-48 {
    line-height: 48px;
  }
  &-56 {
    line-height: 56px;
  }
}

.fontweight {
  &-lighter {
    font-weight: lighter;
  }
  &-normal {
    font-weight: normal;
  }
  &-bolder {
    font-weight: bolder;
  }
  &-bold {
    font-weight: bold;
  }
  &-100 {
    font-weight: 100;
  }
  &-200 {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
  &-900 {
    font-weight: 900;
  }
}

.whitespace {
  &-wrap {
    white-space: normal;
  }
  &-nowrap {
    white-space: nowrap;
  }
}

.wordbreak {
  &-normal {
    word-break: normal;
  }
  &-break-all {
    word-break: break-all;
  }
  &-keep-all {
    word-break: keep-all;
  }
  &-break-word {
    word-break: break-word;
  }
}

.wordspacing {
  &-normal {
    word-spacing: normal;
  }

  @each $length in $sequence {
    &-#{$length} {
      word-spacing: #{$length}px;
    }
    &-n#{$length} {
      word-spacing: -#{$length}px;
    }
  }
}

.wordwrap {
  &-normal {
    word-wrap: normal;
  }
  &-break-word {
    word-wrap: break-word;
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-overflow {
    &-ellipsis {
      text-overflow: ellipsis;
    }
    &-clip {
      text-overflow: clip;
    }
  }
}
