@use "variable";

@mixin image($media) {
  .object {
    &-fit {
      &-none#{$media} {
        object-fit: none;
      }

      &-fill#{media} {
        object-fit: fill;
      }

      &-contain#{$media} {
        object-fit: contain;
      }

      &-cover#{$media} {
        object-fit: cover;
      }

      &-scaledown#{$media} {
        object-fit: scale-down;
      }
    }

    &-position {
      &-l#{$media} {
        object-position: left left;
      }

      &-lc#{$media} {
        object-position: left center;
      }

      &-lr#{$media} {
        object-position: left right;
      }

      &-cl#{$media} {
        object-position: center left;
      }

      &-c#{$media} {
        object-position: center center;
      }

      &-cr#{$media} {
        object-position: center right;
      }

      &-rl#{$media} {
        object-position: right left;
      }

      &-rc#{$media} {
        object-position: right center;
      }

      &-r#{$media} {
        object-position: right right;
      }
    }
  }
}

@include image("");

@media screen and (max-width: variable.$width-media--d - 1) {
  @include image("--m");
}

@media screen and (min-width: variable.$width-media--d) {
  @include image("--d");
}
