.object {
  &-fit {
    &-none {
      object-fit: none;
    }

    &-fill#{media} {
      object-fit: fill;
    }

    &-contain {
      object-fit: contain;
    }

    &-cover {
      object-fit: cover;
    }

    &-scaledown {
      object-fit: scale-down;
    }
  }

  &-position {
    &-l {
      object-position: left left;
    }

    &-lc {
      object-position: left center;
    }

    &-lr {
      object-position: left right;
    }

    &-cl {
      object-position: center left;
    }

    &-c {
      object-position: center center;
    }

    &-cr {
      object-position: center right;
    }

    &-rl {
      object-position: right left;
    }

    &-rc {
      object-position: right center;
    }

    &-r {
      object-position: right right;
    }
  }
}
