$sequence: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $margin in $sequence {
  .margin {
    &-#{$margin} {
      margin: #{$margin}px;
    }
    &-n#{$margin} {
      margin: -#{$margin}px;
    }

    &-t-#{$margin} {
      margin-top: #{$margin}px;
    }
    &-t-n#{$margin} {
      margin-top: -#{$margin}px;
    }

    &-r-#{$margin} {
      margin-right: #{$margin}px;
    }
    &-r-n#{$margin} {
      margin-right: -#{$margin}px;
    }

    &-b-#{$margin} {
      margin-bottom: #{$margin}px;
    }
    &-b-n#{$margin} {
      margin-bottom: -#{$margin}px;
    }

    &-l-#{$margin} {
      margin-left: #{$margin}px;
    }
    &-l-n#{$margin} {
      margin-left: -#{$margin}px;
    }

    &-x-#{$margin} {
      margin-left: #{$margin}px;
      margin-right: #{$margin}px;
    }
    &-x-n#{$margin} {
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    &-y-#{$margin} {
      margin-bottom: #{$margin}px;
      margin-top: #{$margin}px;
    }
    &-y-n#{$margin} {
      margin-bottom: -#{$margin}px;
      margin-top: -#{$margin}px;
    }
  }
}
