$sequence: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

@each $seq in $sequence {
  .padding {
    &-#{$seq} {
      padding: #{$seq}px;
    }
    &-n#{$seq} {
      padding: -#{$seq}px;
    }

    &-t-#{$seq} {
      padding-top: #{$seq}px;
    }
    &-t-n#{$seq} {
      padding-top: -#{$seq}px;
    }

    &-r-#{$seq} {
      padding-right: #{$seq}px;
    }
    &-r-n#{$seq} {
      padding-right: -#{$seq}px;
    }

    &-b-#{$seq} {
      padding-bottom: #{$seq}px;
    }
    &-b-n#{$seq} {
      padding-bottom: -#{$seq}px;
    }

    &-l-#{$seq} {
      padding-left: #{$seq}px;
    }
    &-l-n#{$seq} {
      padding-left: -#{$seq}px;
    }

    &-x-#{$seq} {
      padding-left: #{$seq}px;
      padding-right: #{$seq}px;
    }
    &-x-n#{$seq} {
      padding-left: -#{$seq}px;
      padding-right: -#{$seq}px;
    }

    &-y-#{$seq} {
      padding-bottom: #{$seq}px;
      padding-top: #{$seq}px;
    }
    &-y-n#{$seq} {
      padding-bottom: -#{$seq}px;
      padding-top: -#{$seq}px;
    }
  }
}
