$sequence: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}

@each $seq in $sequence {
  .top {
    &-#{$seq} {
      top: #{$seq}px;
    }

    &-n#{$seq} {
      top: -#{$seq}px;
    }
  }

  .right {
    &-#{$seq} {
      right: #{$seq}px;
    }

    &-n#{$seq} {
      right: -#{$seq}px;
    }
  }

  .bottom {
    &-#{$seq} {
      bottom: #{$seq}px;
    }

    &-n#{$seq} {
      bottom: -#{$seq}px;
    }
  }

  .left {
    &-#{$seq} {
      left: #{$seq}px;
    }

    &-n#{$seq} {
      left: -#{$seq}px;
    }
  }
}
