.touch {
  &-auto {
    touch-action: auto;
  }

  &-none {
    touch-action: none;
  }

  &-x {
    touch-action: pan-x;
  }

  &-l {
    touch-action: pan-left;
  }

  &-r {
    touch-action: pan-right;
  }

  &-y {
    touch-action: pan-y;
  }

  &-up {
    touch-action: pan-up;
  }

  &-down {
    touch-action: pan-down;
  }

  &-pinch {
    touch-action: pinch-zoom;
  }

  &-manipulation {
    touch-action: manipulation;
  }
}
