$translate: 0, 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;
$rotate: 0, 24, 48, 72, 96, 120, 144, 168, 192, 216, 240, 264, 288, 312, 336,
  360;

.transform {
  &-none {
    transform: none;
  }

  @each $seq in $translate {
    &-translate {
      &-x-#{$seq} {
        transform: translateX($seq);
      }

      &-y-#{$seq} {
        transform: translateY($seq);
      }
    }
  }

  @each $seq in $rotate {
    &-rotate {
      &-x-#{$seq} {
        transform: rotateX($seq);
      }

      &-y-#{$seq} {
        transform: rotateY($seq);
      }

      &-z-#{$seq} {
        transform: rotateZ($seq);
      }
    }
  }
}
